@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 800;
  font-family: 'paybooc-Light', sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
}
img {
  margin: 0;
  padding: 0;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
:root {
  --color-red: #d50f4a;
  --color-dark-red: #922142;
  --color-landing-pink: #ead7cc;
}
